@import 'vars';

.Login, .Signup, .ForgotPassword, .Reset {
    button {
        background: none;
        border: none;
        outline: none;
        color: blue;
        font-size: 15px;
    }

    .forgotpassword {
        margin-top: 20px;
    }

    .formborder {
        display: flex;
        align-items: center;
        justify-content: center;

        .form {
            height: wrap-content;
            width: 70%;
            background-color: $lightgray;
            margin: 0px;
            padding: 20px;
            padding-bottom: 10px;
            border-radius: 10px;
            margin-top: 10px;

            label {
                margin-right: 5px;
            }
            
            input {
                outline: none;
                border: 1px solid $logogray;
                border-radius: 3px;
                padding: 3px;
                width: 98%;
                margin: 1px;
                font-weight: 300;
            }
            
            .submit {
                width: 50%;
                border: none;
                border-radius: 50px;
                outline: none;
                padding: 10px;
                color: white;
                font-size: 14px;
                background-color: $orange;
            }
            
            #message {
                color: red;
            }
        }
    }
}

.Search {
    .outside {
        margin: 20px;
    }

    .submitForm {
        width: 100%;
        position: relative;
        display: flex;
    }

    .searchInput {
        width: 100%;
        border: 3px solid $orange;
        border-right: none;
        padding: 5px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        font-size: 16px;
    }

    .searchButton {
        border: 1px solid $orange;
        background: $orange;
        font-family: 'Roboto Condensed';
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 16px;
        padding: 2px 15px;
    }
}

.Account, .Form {
    .center {
        display: flex;
    }

    .margin {
        margin: auto;
    }

    h1 {
        text-align: center;
        color: $orange;
        font-weight: 800;
    }

    .grid {
        width: 100%;
        grid-template-columns: auto auto auto auto;
        margin: 0 20px 50px 20px;
    }

    @media only screen and (max-width: 1200px) {
        .grid {
            grid-template-columns: 33% 33% 33%;
        }
    }

    @media only screen and (max-width: 800px) {
        .grid {
            grid-template-columns: 49% 49%;
        }
    }

    @media only screen and (max-width: 600px) {
        .grid {
            grid-template-columns: 99%;
        }
    }

    .capability {
        tr td {
            text-align: left;

            input[type=number], input[type=text] {
                outline: none;
            }
        }
    }

    .info {
        input {
            min-width: 200px;
        }
    }

    #notesbox {
        width: auto;
        margin: 20px;
    }

    textarea {
        font-weight: 300;
        min-width: 95%;
        max-width: 95%;
        min-height: 200px;
        font-size: 16px;
    }

    .box {
        border: 3px solid black;
        text-align: center;
        padding: 15px 50px;
    }

    .save {
        margin-top: 10px;
        width: 50%;
        border: none;
        min-width: 150px;
        border-radius: 50px;
        outline: none;
        padding: 10px;
        color: white;
        font-size: 14px;
        background-color: $orange;
    }
}

.State, .PreMatch, .DuringMatch {
    #scoutteam, .button {
        border: 1px solid $orange;
        background: $orange;
        font-family: 'Roboto Condensed';
        text-align: center;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        padding: 8px 0px;
        margin: 5px;
        text-decoration: none;
        width: 300px;
    }

    .filters {
        grid-template-columns: auto auto auto auto auto auto;
        grid-column-gap: 15px;
    }

    .filterele {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 300;

        button {
            border: 1px solid $orange;
            background: $orangetransparent;
            text-align: center;
            color: black;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            padding: 5px 15px;
            font-weight: 300;
            width: 100%;
        }
    }

    @media only screen and (max-width: 800px) {
        .filters {
            grid-template-columns: auto auto;
        }
    }
}